<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Pets</title>
</head>
<body>
    <h1>{{pet.name}}</h1>
    <img src="{{pet.photo_url}}" style="max-width: 400px">
    <form method="POST">
        {{form.hidden_tag()}}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <div>
            {{field.label}}{{field}}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="/" class="btn btn-primary">Home</a>
    </form>
</body>
</html>